@import 'src/components/app/global-variables';

.formProfile {
  transition: 1s ease-in-out;
  justify-content: flex-start;
  width: 360px;
  background-color: $white;
  margin-top: 40px;
  font-family: $fontFamily;
  padding: 48px 36.5px;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.visibility {
  background-color: $white;
  transition: width 1s ease-in-out;
}

.formProfile.message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: width 1s ease-in-out;
}

.formProfile.message .heading {
  margin-bottom: 20px;
}

.formProfile.message .form {
  display: block;
  width: 100%;
  color: #262626;
  text-align: center;
  margin-bottom: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 45px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: none;
}

.form label {
  width: 100%;
  text-align: left;
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2px;
  margin-bottom: 12px;
}

.tagsLabel {
  width: 100%;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0px 12px;
}

.inputTextarea {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0px 12px;
}

.input::placeholder,
.inputTextarea::placeholder,
.tagsInput::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;
  font-weight: 400;
  font-family: $fontFamily;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $infoColor;
  color: $white;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0px;
  border: 1px solid $infoColor;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
}

.btnArticle {
  width: calc(30% + 17px);
  margin-bottom: 20px;
}

.btnTextSuccess {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
  text-decoration: none;
}

.additionalText {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
}

.errorText {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  margin-top: 1px;
  color: $highlightColor;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
}

.form .checkboxText {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 4px;
}

input[type='checkbox'] {
  margin-top: 5px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  color: red;
  display: none;
}

input[type='checkbox'] + span {
  margin-top: 5px;
  margin-right: 8px;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
  background: $white;
  border: 1px solid $infoColor;
}

input[type='checkbox']:checked + span {
  border-radius: 2px;
  background: no-repeat center url(./checkbox-img/check.png), linear-gradient($infoColor, $infoColor);
  border: 1px solid $infoColor;
}

.additionalText .signUp {
  text-decoration: none;
  color: $infoColor;
  cursor: pointer;
}

.articleForm {
  max-height: 3000px;
  width: 100%;
  padding: 20px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 26px;
  font-family: $fontFamily;
  background-color: $white;
}

.tagDelete {
  display: flex;
  justify-content: center;
  width: 15%;
  background-color: $white;
  color: $highlightColor;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0px;
  border: 1px solid $highlightColor;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  height: 40px;
}

.tagAdd {
  display: flex;
  justify-content: center;
  width: 15%;
  background-color: $white;
  color: $infoColor;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0px;
  border: 1px solid $infoColor;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  height: 40px;
  margin-left: 17px;
}

.tagInputWrapper {
  display: flex;
  margin-bottom: 8px;
}

.tagsInput {
  box-sizing: border-box;
  width: 30%;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0px 12px;
  align-self: flex-start;
  margin-right: 17px;
}

.displayNone {
  display: none;
}
