@import 'src/components/app/global-variables';

.userContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.userNameContainer {
  display: flex;
  margin-right: 12px;
}

.userName {
  width: 100%;
  align-self: center;
  color: $headingColor;
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  font-family: $fontFamily;
}

.date {
  align-self: center;
  font-size: 12px;
  line-height: 22px;
  color: $textColorSecondary;
  text-align: right;
}

.avatar {
  width: 46px;
  height: 46px;
}

.editButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0.9em;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  width: 70px;
  background-color: $white;
  color: $highlightColor;
  font-size: 14px;
  line-height: 15px;
  padding: 8px 0px;
  border: 1px solid $highlightColor;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  height: 31px;
}

.editBtn {
  display: flex;
  justify-content: center;
  width: 70px;
  background-color: $white;
  color: $successColor;
  font-size: 14px;
  line-height: 15px;
  padding: 8px 0px;
  border: 1px solid $successColor;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  height: 31px;
  margin-left: 12px;
}

.userLink {
  text-decoration: none;
}
