@import "src/components/app/global-variables";

.userContainer {
  display: flex;
  align-content: center;
  align-items: center;
  max-height: 46px;
}

.userNameContainer {
  display: flex;
  margin-right: 12px;
}

.userName {
  width: 100%;
  align-self: center;
  color: $headingColor;
  text-align: right;
  font-size: 18px;
  line-height: 28px;
  font-family: $fontFamily;
}

.date {
  align-self: center;
  font-size: 12px;
  line-height: 22px;
  color: $textColorSecondary;
  text-align: right;
}

.avatar {
  width: 46px;
  height: 46px;
}