@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@600&display=swap');

$white: #FFF;
$backgroundColor: #EBEEF3;
$successColor: #52C41A;
$infoColor: #1890FF;
$headingColor: rgba(0, 0, 0, 0.85);
$textColorSecondary: rgba(0, 0, 0, 0.5);
$textColor: rgba(0, 0, 0, 0.75);

$fontFamily: 'Inter';
$headerFontSize: 18px;