@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@600&display=swap');

$white: #fff;
$backgroundColor: #ebeef3;
$successColor: #52c41a;
$infoColor: #1890ff;
$headingColor: rgba(0, 0, 0, 0.85);
$textColorSecondary: rgba(0, 0, 0, 0.5);
$textColor: rgba(0, 0, 0, 0.75);
$highlightColor: #f5222d;

$fontFamily: 'Inter';
$headerFontSize: 18px;
