@import '../app/global-variables.scss';

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  height: 80px;
  padding: 16px 25px;
  background-color: $white;
}

.title {
  font-size: $headerFontSize;
  font-family: $fontFamily;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  color: rgba(0, 0, 0, 0.85);
}

.headerButtons {
  display: flex;
}

.headerButtons .btn {
  width: 109px;
  height: 51px;
  padding: 6px 19px;
  align-self: center;
  box-sizing: border-box;
  font-size: $headerFontSize;
  font-family: $fontFamily;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: $white;
  color: $headingColor;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.btn.green {
  color: $successColor;
  border: 1px solid $successColor;
  border-radius: 5px;
}

button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}